.carousel-item img {
  max-height: 400px;
  object-fit: cover;
}
.img-1 {
  background-color: #000;
  background-size: cover;
  background-image: url(img-1.jpg);
}
.img-2 {
  background-color: #000;
  background-size: cover;
  background-image: url(img-2.jpg);
}
}
.img-3 {
  background-color: #000;
  background-size: cover;
  background-image: url(img-3.jpg);
}